.profiles {
  margin-top: 20px;
}

.profile {
  width: 190px;
  height: 200px;
  vertical-align: middle;
}

.profile img {
  border-radius: 5px;
  width: 140px; 
}

.profile.highlighted img{
  border: 5px solid #e0a801;
  -webkit-filter: opacity(0.8);
}

.profile.removed .name,
.profile.removed img{
  -webkit-filter: opacity(0.2);
}

.profile .image-container {
  width: 144px;
}

#start-button {
  min-height: 75px;
  padding: 30px 0;
}

body {
  background-color: #131426;
}

#winner-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: black;
  z-index: 10000;
  opacity: 0.7;
}

#winner {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  padding: 16px;
  border: 16px solid #e0a801;
  background-color: white;
  z-index:10002;
  overflow: auto;
}

#winner h3 {
  margin-top: 0;
}

#winner img {
  width: 45%;
  float: left;
}

.winner-bio {
  width: 50%;
  float: right;
}

.cssFade {
  transition: 0.5s linear all;
  opacity: 1;
}

.cssFade.ng-hide {
  opacity: 0;
}

#confetti {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

#search-bar {
  background-color: #e0a801;
}

#start-button {
  float: right;
  margin-right: 35px;
}

#start-button input {
  padding: 11px 19px;
  font-size: 26px;
  width: 256px;
  height: 72px;
  border-radius: 2px;
  color: initial;
  margin-bottom: 0;
}

#search-bar .jetbrains-wrapper {
  float: left;
  margin-top: 30px;
}

#start-button button {
  vertical-align: top;
}

.prize-provider {
  position: relative;
  top: 25px;
  left: 10px;
  color: white;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.loading-spinner {
    -webkit-animation: rotating 2s linear infinite;
}
