.profiles {
  margin-top: 20px;
}

.profile {
  width: 190px;
  height: 200px;
  vertical-align: middle;
}

.profile img {
  border-radius: 5px;
  width: 140px; 
}

.profile.highlighted img{
  border: 5px solid #e0a801;
  -webkit-filter: opacity(0.8);
}

.profile.removed img{
  border: 5px solid red;
  -webkit-filter: opacity(0.5);
  -webkit-filter: grayscale(100%);
}

.profile .image-container {
  width: 144px;
}

#start-button {
  min-height: 75px;
  padding: 30px 0;
}
