.container {
  padding-top: 20px;
}

.profiles {
  margin-top: 20px;
}

.profile {
  width: 190px;
  height: 300px;
  vertical-align: middle;
}

.profile img {
  border-radius: 5px;
  width: 140px; 
}

.profile.highlighted img{
  border: 3px solid red;
  -webkit-filter: opacity(0.8);
}

.profile.removed img{
  border: 5px solid red;
  -webkit-filter: opacity(0.5);
  -webkit-filter: grayscale(100%);
}

.profile .image-container {
  width: 144px;
}
