<!doctype html>
<html lang="en" ng-app="twittercompApp">
<head>
  <meta charset="utf-8">
  <title>Twitter Competition</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="/app/css/style.css" />
  <link rel="stylesheet" href="/app/css/edpug.css" />

  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <script src="/app/js/controllers.js"></script>
  <script src="/app/js/confetti.js"></script>

</head>

<body ng-space="stop()" ng-controller="TwitterUserCtrl">

    <canvas id="confetti" ng-confetti="winner"></canvas>

    <div class="cssFade" id="winner-overlay" ng-show='winner'></div>
    <div class="cssFade" id="winner" ng-show="winner">
      <h3>Winner</h3>
      <img src="{{winner.profile_image_url}}"/>
    </div>

    <section id="start-button" class="content-row yellow">
      <button type="button" ng-click='start()' class="btn btn-primary btn-lg center-block">Start</button>
    </section>

    <section class="content-row blue">
      <div class="container">
        <ul class="list-inline profiles">
          <li class="profile" ng-repeat="user in users" ng-class="{'removed': user.removed, 'highlighted': user.highlighted}">
            <img src="{{user.profile_image_url}}"/>
            <div class="name">
              <strong>{{user.name}}</strong>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <section class="container">
        <div class="row">
          <div class="col-md-6 pull-left">
            <p>Venue / PHPizza and drinks sponsored by Blonde Digital. Some talks may have their own sponsor.</p>     
            <p class="line-logo"><a href="http://www.blonde.net/">Sponsored by Blonde Digital</a>, an Edinburgh Digital Agency</p>    
          </div>
        <div class="col-md-4 col-md-offset-2">
      <p>Useful links</p>
      <ul>
        <li><a target="_blank" href="http://edpug.eventbrite.com">edPUG on EventBrite</a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/50315848110/">edPUG Facebook Group</a></li>
        <li><a target="_blank" href="https://github.com/edPUG/website">edPUG GitHub Repository</a></li>
        <li><a target="_blank" href="http://opentechcalendar.co.uk/">Open Tech Calendar</a></li>
        <li><a target="_blank" href="http://php.net/">php.net</a></li>
      </ul>
        </div>
      </div>
      </section>
    </footer>

</body>
</html>
